<header id="main-header">
    <div id="page-logo">
        <a href="#">MyBlog</a>
    </div>
    <nav>
        <ul id="nav-list">
            <li><a href="/">All Posts</a></li>
            <li><a href="/create-post">Create Post</a></li>
        </ul>
    </nav>
</header>