<%- include("./includes/head") %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>
  <body>
    <%- include("./includes/header") %>
    <main>
      <h1>All Posts</h1>

      <section id="posts">
        <ul>
          <% if (!posts && posts.length <= 0 ) { %>
          <p>Posts not found!</p>
          <% } else { %> <% for (post of posts) { %>
            <%- include("./includes/post-item", { post }) %>
          <% } %> <% } %>
        </ul>
      </section>
    </main>
    <%- include("./includes/end") %>
